body {
    position: relative;
    height: 100vh;
}

.col {
    border: 2px black solid;
}

footer {
    background-color: rgba(0, 0, 0, 0.5);

}

#newPostSuccessMessage, #newPostFailureMessage,
#editPostSuccessMessage, #editPostFailureMessage,
#deletePostSuccessMessage, #deletePostFailureMessage,
#newUserSuccessMessage,  #newUserFailureMessage, #connectionUserFailureMessage,
#newCommentSuccessMessage, #newCommentFailureMessage,
#signalCommentSuccessMessage{
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.faButtonRight {
    margin-left: 5px;
}